[Unit]
Description=Crab Hexapod Robot ROS2 Service
After=network.target

[Service]
Type=simple
User=orangepi
Group=orangepi
WorkingDirectory=/home/orangepi/ros2_ws

# Окружение
Environment="HOME=/home/orangepi"
Environment="RMW_FASTRTPS_USE_SHM=0"
Environment="ROS_DOMAIN_ID=0"

# Запуск через bash для корректной загрузки ROS2
ExecStart=/bin/bash -c 'source /opt/ros/jazzy/setup.bash && source /home/orangepi/ros2_ws/src/OrangePi_hexapod/scripts.env && source "$WORKSPACE/install/setup.bash" && ros2 launch crab_description hexapod.launch.py'

# Перезапуск при падении
Restart=on-failure
RestartSec=5

# Логирование
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
